<section class="pre-container mx-auto flex flex-column" style="max-width: 950px" >
  <div>
    <div class="titulo-container border-bottom-1"><h1>Ingredientes</h1></div>
    <div class="flex border-bottom-1 justify-content-between my-4">
      <p class="px-5 py-2"><i class="pi pi-circle-fill mx-2" style="font-size: 0.6rem"></i> ingrediente placeholder</p>
      <button class="border-none btnRmv px-4 py-2" ><i class="pi pi-minus-circle"
                                                                          style="font-size: 1.5rem"></i></button>
    </div>
  </div>

  <div class="flex flex-row flex-row-reverse">
    <button class="btnAdd font-bold"><i class="pi pi-plus" style="font-size: .8rem"></i> NOVO INGREDIENTE</button>
  </div>
</section>

