<header >
    <div class="flex justify-content-between mx-4 my-4">
      <div class="flex">
        <p>olá</p>
        <h3>nome</h3>
      </div>
      <a routerLink="/login" class="text-color"><i class="pi pi-sign-out text" style="font-size: 1.5rem"></i></a>
    </div>

  <div class="formgroup-inline justify-content-center">
    <button  type="button" class="px-3 py-2 text-base border-none cursor-pointer bg-transparent
    transition-all transition-duration-200"><i class="pi pi-search" style="font-size: 1rem; color: #222222"></i></button>
    <div class="field">
      <label for="lastname5" class="p-sr-only">Lastname</label>
      <input id="lastname5" type="text" class="text-base text-color surface-overlay p-2 border-none border-bottom-1 border-bottom-solid surface-border appearance-none outline-none " placeholder="pesquise por receita">
    </div>
  </div>
  <div class="flex justify-content-center"><h2 class="mx-4">categorias</h2></div>

  <div class="flex justify-content-center">
    <ul class="flex my-4">
      <li><a routerLink="/todas" class="mx-2 bg-red-700 p-3 text-white">Todas</a></li>
      <li><a routerLink="/manha" class="mx-2 text-color">café da manhã</a></li>
      <li><a routerLink="/almoco" class="mx-2 text-color">Almoço</a></li>
      <li><a routerLink="/janta" class="mx-2 text-color">Janta</a></li>
    </ul>
  </div>

</header>
