<section class="mx-auto"  style="max-width: 950px">
  <div class="formgroup-inline justify-content-center">
    <button  type="button" class="px-3 py-2 text-base border-none cursor-pointer bg-transparent
    transition-all transition-duration-200"><i class="pi pi-search" style="font-size: 1rem; color: #222222"></i></button>
    <div class="field">
      <label for="lastname5" class="p-sr-only">Lastname</label>
      <input id="lastname5" type="text" class="text-base text-color surface-overlay p-2 border-none border-bottom-1 border-bottom-solid surface-border appearance-none outline-none " placeholder="pesquise por receita">
    </div>
  </div>
  <div class="flex justify-content-center"><h2 class="mx-4">categorias</h2></div>

  <div class="flex justify-content-center">
    <ul class="flex my-4">
      <li><a  routerLinkActive="activ text-white font-bold" class="mx-2 hover:text-white p-3 navegacao">Todas</a></li>
      <li><a  routerLinkActive="activ text-white font-bold" class="mx-2 hover:text-white p-3 navegacao"> manhã</a></li>
      <li><a  routerLinkActive="activ text-white font-bold" class="mx-2 hover:text-white p-3 navegacao">Almoço</a></li>
      <li><a  routerLinkActive="activ text-white font-bold" class="mx-2 hover:text-white p-3 navegacao">Janta</a></li>
    </ul>
  </div>
  <div class="flex justify-content-between border-bottom-1 my-4 mx-4">
    <div class="">
      <h1 class="my-2">placeholder titulo</h1>
      <p class="my-2">placeholder detalhe</p>
    </div>
    <a routerLink="/"> <i class="pi pi-arrow-right text-black-alpha-80" style="font-size: 2rem"></i></a>
  </div>
  <div class="flex justify-content-around align-items-center">
    <div><a routerLink="/home" class="text-black-alpha-80">compartilhado<i class="pi pi-heart-fill mx-2" style="font-size: 1rem"></i></a></div>
    <div> <a routerLink="criar-receita"  class="text-white  "><i class="pi pi-plus p-2 backgroud-plus border-circle font-bold" style="font-size: 1rem"></i></a></div>
  </div>
</section>
